* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Futura PT';
    background-image: url(../images/body-img.png);
}

.container {
    padding: 0 15px;
    max-width: 1310px;
    margin: 0 auto;
}